<div class="sr-default-background">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 sr-default-logo"  style="margin-left: 15px;"></div>
            <div class="col-md-9 col-sm-12" style="margin-left: 15px;"><h3 class="sr-default-subtitle">Coletor de Dados</h3></div>
        </div>
        <div class="sr-default-menubar container">
            <div class="col-md-12">

                <div class="btn-group" uib-dropdown is-open="false">
                    <button id="menu-coletor" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disbled">Câmara dos Deputados <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="menu-coletor">
                        <li role="menuitem"><a href="/www/#/painel">Coletar e processar dados</a></li>
                        <li role="menuitem"><a href="/www/#/tarefa">Processar e enviar notificações</a></li>
                    </ul>
                </div>

                <div class="btn-group" uib-dropdown is-open="false">
                    <button id="menu-coletor" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disbled">Senado <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="menu-coletor">
                        <li role="menuitem"><a href="/www/#/painel-senado">Coletar e processar dados</a></li>
                        <!--<li role="menuitem"><a href="/www/#/tarefa">Processar e enviar notificações</a></li>-->
                    </ul>
                </div>

                <a class="btn btn-primary" href="/www/#/graficos">Gráficos</a>

            </div>
        </div>
    </div>
</div>
